.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-content-wrapper {
  position: fixed;
  width: 90vw;
  height: 90vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  border-radius: 10px;
}

.modal-content {
  margin: 80px auto;
  width: 80%;
  height: 80%;
  overflow: auto;
}

.modal-content-dark {
  color: #f1f4f8;
}

.close {
  cursor: pointer;
}

@media screen and (max-height: 350px) {
  .modal-content-wrapper {
    overflow: auto;
  }
}
