@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f4f8;
  position: fixed;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

.light {
  color: #3b3a3c;

  &:hover {
    color: #000;
  }
  &:active {
    color: #05c7f2;
  }
  &:focus {
    color: #05c7f2;
  }
}

.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
  img {
    border-radius: 120px;
  }
  ul {
    padding: 0;
    display: flex;
    width: 320px;
    justify-content: space-evenly;
  }
  p {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .AboutMe {
    p {
      text-align: center;
      margin: 0;
    }
  }
}
